body {
    background: #eeeeee;
}

.fmcsa-logo-header {
    max-width: 5rem;
}

.fmcsa-logo-footer {
    max-width:5rem;
}

.padding-adjuster-left {
    padding-left: 5px;
}

.header-logo-text-subheading {
    position: relative;
    color: #000000;
    font-family: "Arial";
    font-size: 14px;
    letter-spacing: 0;
    font-weight: bold;
}

.footer-logo-text {
    position: relative;
    color: #000000;
    font-family: "Arial";
    font-size: 14px;
    letter-spacing: 0;
    font-weight: bold;
}

.login-info-text {
    position: relative;
    color: #000000;
    font-family: "Arial";
    font-size: 14px;
    letter-spacing: 0;
}

.navy-blue-border {
    margin-top: 0px;
    border-top: 5px solid #001647;
    padding-bottom: 5px;
}

.gold-border {
    margin-top: 0px;
    border-top: 5px solid #EEB111;
    padding-bottom: 5px;
}

.gray-border {
    margin-top: 0px;
    border-top: 5px solid #DCDEE0;
    padding-bottom: 5px;
}