body {
    background: #eeeeee;
}

.fmcsa-logo-footer {
    max-width:5rem;
}

.header-logo-text-subheading {
    position: relative;
    color: #000000;
    font-family: "Arial";
    font-size: 14px;
    letter-spacing: 0;
    font-weight: bold;
}

.footer-logo-text {
    position: relative;
    color: #000000;
    font-family: "Arial";
    font-size: 14px;
    letter-spacing: 0;
    font-weight: bold;
}

.login-info-text {
    position: relative;
    color: #000000;
    font-family: "Arial";
    font-size: 14px;
    letter-spacing: 0;
}

.navy-blue-border {
    border-top: 5px solid #001647;
}

.gold-border {
    border-top: 5px solid #EEB111;
}